

.scheduledCalendarMainWrapper .calendar-content .calendar-cells {
   width: 550px;
}

.scheduledCalendarMainWrapper .blue.lighten-3 {
   background-color: #007aff !important;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 50% !important;
    /*height: 45px;
    width: 45px;*/
    line-height: 1.625em;
    margin: 0;
    text-align: center;
    margin-bottom: 8px;
}

.scheduledCalendarMainWrapper .calendar-header {
   background-color: #f7f7f7;
   padding: 4px;
   padding-bottom: 2px solid #f1f1f1;
}
.scheduledCalendarMainWrapper .calendar-header #month-name{
 font-size: 16px;
 margin-bottom: inherit;
}

.scheduledCalendarMainWrapper .header-text {
   color: #00a1de;
   padding: 2px;
}



.scheduledCalendarMainWrapper .calendar-content {
   overflow: hidden;
}
.scheduledCalendarMainWrapper .calendar-content .calendar-cells .row{
   margin-right: 0;
   margin-left: 0;
}
.scheduledCalendarMainWrapper .calendar-content .calendar-cells .row .col-1{
/*   padding-left: 0; */
/*   padding-right: 0; */
  padding: 6px 6px;
}
.scheduledCalendarMainWrapper .calendar-content .calendar-cells #table-header hr{
   margin-top: 1px;
   margin-bottom: 1px;
 }

 .scheduledCalendarMainWrapper .event-mark {
   width: 5px;
   height: 5px;
   background-color: teal;
   border-radius: 100px;
   position: absolute;
   left: 46%;
   top: 70%;
}

.scheduledCalendarMainWrapper .calendar-footer {
   height: 200px;   
   font-weight: 300;
   text-align: center;
   /* background-color: #4b6289 !important; */
   position: relative;
   overflow: hidden;
}

.scheduledCalendarMainWrapper .addForm {       
   width: 100%;
   height: 100%;
   background-color: #4b5889 !important;
   transition: top 0.5s cubic-bezier(1, 0, 0, 1);
   padding: 0 5px 0 5px;
}

   
.scheduledCalendarMainWrapper .addForm .row {
   padding-left: 0.75rem;
   padding-right: 0.75rem;
   margin-bottom: 0;
}

.scheduledCalendarMainWrapper .addForm h4 {
    color: #000;
    margin: 5px;
    font-size: 14px;
    font-weight: 600;
}

.scheduledCalendarMainWrapper .addEventButtons {
   text-align: right;
   padding: 0 0.75rem 0 0.75rem;
}

.scheduledCalendarMainWrapper .addEventButtons a {
   background-color: #007aff;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    border-radius: 50px;
    color: #fff !important;
}

.scheduledCalendarMainWrapper .emptyForm {
   padding: 20px;
   padding-left: 15%;
   padding-right: 15%;
}

.scheduledCalendarMainWrapper .emptyForm h4 {
   color: #000;
    font-size: 12px;
    font-weight: 600;
    /* margin-bottom: 2rem; */
}

/* .scheduledCalendarMainWrapper .sidebar-wrapper { */
/*    color: #000; */
/*    padding-top: 0; */
/*    padding-bottom: 20px; */
/*    font-weight: 300; */
/*    border-top: 1px solid #726e6e; */
/*    padding-left: 0; */
/*    padding-right: 0; */
/*    position: relative; */


/* } */

/* .scheduledCalendarMainWrapper .sidebar-title { */
/*    padding: 1px 6% 0px 12%; */
/* } */


.scheduledCalendarMainWrapper .sidebar-title h4 {
   margin-top: 0;
   font-size: 12px !important;
}

.scheduledCalendarMainWrapper .sidebar-title h5 {
    margin-top: 5px;
    font-size: 12px !important;
    font-weight: 600;
    color: #043daf;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #4ea9f6;
    background: linear-gradient(to bottom, #b7deff, #f7f6ff);
}

.scheduledCalendarMainWrapper .sidebar-events {
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid #4ea9f6;
    background: linear-gradient(to bottom, #b7deff, #f7f6ff);
    padding: 8px;
    border-radius: 8px;
}
.scheduledCalendarMainWrapper .empty-message {
    /* margin-top: 5px; */
    font-size: 12px !important;
    font-weight: 700;
    color: #043daf;
    text-align: center;
}

.scheduledCalendarMainWrapper .eventCard {
   background-color: #fff;
   color: black;
   padding: 12px 24px 12px 24px;
   border-bottom: 1px solid #E5E5E5;
   white-space: nowrap;
   position: relative;
   animation: slideInDown 0.5s;
   margin-top: 5px;
}

.scheduledCalendarMainWrapper  .eventCard:nth-child(even) {
   border-left: 5px groove #b1982a;


}

.scheduledCalendarMainWrapper  .eventCard:nth-child(odd) {
   border-left: 5px groove #e690b8;
}

.scheduledCalendarMainWrapper  .eventCard-header {
   font-weight: bold;
}

.scheduledCalendarMainWrapper  .eventCard-description {
   color: grey;
   position: absolute;
   left: 70%;
   top: 10px;
}

.scheduledCalendarMainWrapper  .eventCard-Title {
   position: absolute;
   left: 40%;
   top: 25%;
}

.scheduledCalendarMainWrapper  .eventCard-mark-wrapper {
   position: absolute;
   right: 0;
   top: 0;
   height: 100%;
   width: 60px;
   background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
}

.scheduledCalendarMainWrapper  .eventCard-mark {
   width: 8px;
   height: 8px;
   background-color: #b39ddb;
   border-radius: 100px;
   position: absolute;
   left: 50%;
   top: 45%;
}

.scheduledCalendarMainWrapper  .day-mark {
  width: 7px;
    height: 7px;
    background-color: #b39ddb;
    border-radius: 100px;
    position: absolute;
    left: 47%;
    top: 92%;
    margin-top: 7px;
}

.scheduledCalendarMainWrapper  .disTitle {
   margin-left: -37px;
}

.scheduledCalendarMainWrapper{
     width: 332px;
/*    border: 1px solid #f1f1f1;*/
    padding: 0px;
    margin: 0 auto;
}
.scheduledCalendarMainWrapper  .currentdate{
   position: relative;
}
.scheduledCalendarMainWrapper  .currentdate #todayDayName{
   margin-bottom: inherit;
   text-align: center;
   font-size: 16px;
}


.scheduledCalendarMainWrapper  #table-body .col:hover {
   cursor: pointer;
   /*border: 1px solid grey;*/
   background-color: #E0E0E0;
}

.scheduledCalendarMainWrapper .empty-day:hover {
   cursor: default;
   background-color: #fff;
}

.scheduledCalendarMainWrapper  #table-body .row .col{
   padding: .75rem;
}

.scheduledCalendarMainWrapper  #table-body .col {
   border: 1px solid transparent;
}

.scheduledCalendarMainWrapper  #table-body .row {
   border-bottom: 1px solid #ccc;
    border-width: thin;
    padding: 2px;
}




.scheduledCalendarMainWrapper  #table-body .row .dateShow {
   margin-bottom: 0;
}


.scheduledCalendarMainWrapper  #calendar-table {
/*    text-align: center; */
}

.scheduledCalendarMainWrapper  .prev-button {
   position: absolute;
   cursor: pointer;
   left: 0%;
   top: 25%;
   color: #00a1de;
}
.scheduledCalendarMainWrapper  .prev-button i{
 font-size: 12px;
}



.scheduledCalendarMainWrapper  .next-button {
   position: absolute;
   cursor: pointer;
   right: 0%;
   top: 25%;
   color: #00a1de;
}

.scheduledCalendarMainWrapper  .next-button i{
font-size: 12px;
}


.scheduledCalendarMainWrapper  .addEvent {
   /* box-shadow: 0 5px 15px rgb(57 168 228); */
    background-color: #007aff;
    padding: 10px;
    padding-left: 3em;
    padding-right: 3em;
    cursor: pointer;
    border-radius: 25px;
    color: #fff !important;
    /* background-image: linear-gradient(135deg, #8d8dd4, #45ced4); */
}

.scheduledCalendarMainWrapper  .addEvent:hover {
  transition: box-shadow 0.5s;
    /* box-shadow: 0 4px 25px rgb(57 168 228); */
}

.scheduledCalendarMainWrapper  .mobile-header {
   padding: 0;
   display: none;
   padding-top: 20px;
   padding-bottom: 20px;
   position: fixed;
   z-index: 99;
   width: 100%;
   background-color: #5a649c !important;
}

.scheduledCalendarMainWrapper  .mobile-header a i {
   color: #fff;
   font-size: 38px;
}

.scheduledCalendarMainWrapper .mobile-header h4 {
   color: #fff;
}

.scheduledCalendarMainWrapper  .mobile-header .row {
   margin-bottom: 0;
}

.scheduledCalendarMainWrapper  .mobile-header h4 {
   margin: 0;
   font-weight: 300;
}


.scheduledCalendarMainWrapper .input-field.col label {  
    /* left: 3.75rem !important; */
    color: #000;
    font-size: 12px;
    font-weight: 600;
} 

/*scheduledCalendar css starts here by Rajasekhar on 15-12-2022*/
.scheduledCalendarMainWrapper .col-md-6 {
	width : 50%;
}
.scheduledCalendarMainWrapper #month-name,
.scheduledCalendarMainWrapper #todayDayName,
.scheduledCalendarMainWrapper .currentdate .prev-button,
.scheduledCalendarMainWrapper .currentdate .next-button {
	color: #007aff;
}

.scheduledCalendarMainWrapper .calendar-wrapper .calendar-content #table-header{
background-color: #f7f7f7;
}

.scheduledCalendarMainWrapper .calendar-content .calendar-cells .row .colDays {
	font-size: .7em;
	
}

.settingPannel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 50px;
    right: 6px;
    overflow-x: hidden;
    background-color: #fff;
    transition: 0.5s;
    border-radius: 4px 4px 4px 4px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-left: 2px solid #00a1de;
}

.scheduledCalendarMainWrapper .mainCalendar {
	padding-left: 0px;	
}

.scheduledCalendarMainWrapper .sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
/*scheduledCalendar css ends here by Rajasekhar on 15-12-2022*/

/*scheduledCalendar css starts here by Rajasekhar on 16-12-2022*/
.scheduledCalendarMainWrapper .content-wrapper .calendarMainClass {
	padding-left : 0px;
}
.newCalendarEventClass .modal-content .modal-header{
padding: 0px;
}

.newCalendarEventClass .modal-content .modal-header .modal-title {
font-size: 14px;
    font-weight: 600;
    margin: 5px;
    color: #fff;
}

.newCalendarEventClass .modal-content .modal-body .addForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newCalendarEventClass .modal-content .modal-body .addForm .titleLabelSpanClass {
display: flex;
}

.newCalendarEventClass .modal-content .modal-body .addForm .titleLabelSpanClass span {
padding: 0px 6px 0px 6px;
}

.newCalendarEventClass .modal-content .modal-body .addForm .titleLabelSpanClass span .mainTitle {
font-size: 14px;
    font-weight: 600;
    color: #043daf;
}

.newCalendarEventClass .modal-content .modal-body .addForm .titleLabelSpanClass span input {
width: 150px;
height:27px;
  border-color: #043daf;
    border-radius: 4px;
color : #043daf;
}

.newCalendarEventClass .modal-content .modal-body .addForm .timeLabelSpanClass {
display: flex;
}

.newCalendarEventClass .modal-content .modal-body .addForm .timeLabelSpanClass span {
padding: 0px 6px 0px 6px;
}

.newCalendarEventClass .modal-content .modal-body .addForm .timeLabelSpanClass span label {
font-size: 14px;
    font-weight: 600;
    color: #043daf;
}

.newCalendarEventClass .modal-content .modal-body .addForm .timeLabelSpanClass span input {
    width: 150px;
    height: 27px;
    border-color: #043daf;
    border-radius: 4px;
    color : #043daf;

}

.newCalendarEventClass .modal-content .modal-footer .btn-primary {

    color: #043daf !important;
    background-color: #fff !important;
    border: 1px solid #043daf !important;
    border-radius: 4px !important;
    font-size: 12px;
}
/*scheduledCalendar css ends here by Rajasekhar on 16-12-2022*/ 


