/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Dec, 2021, 2:35:54 PM
    Author     : Santhosh.K
*/
.dxpPageContent {
	margin-left: 60px;
	overflow-y: auto;
}

.mainDxpSplitter, .page-body {
	height: 100%;
}

.dxpPageWrapper .dxpPageContent {
	width: 100%;
}

.dxpPageWrapper {
	height: calc(100vh - 50px - 40px);
}
/* Modal PopUp Animation Css Starts Here */ 
.opacity-animate3 {
	animation: opt-animation3 1s;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

/* Modal PopUp Animation Css Ends Here */

/*Social medias cards css stars by SANK on 15-07-2022*/
.homeSocialTrends .trendsCols .card {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	min-height: 307px;
	border: 2px solid #3a81e9;
	border-radius: 8px;
}

.homeSocialTrends .trendsCols .card-header .titleClass {
	font-size: 16px;
	width: 50%;
	margin-top: inherit;
	font-weight: 600;
}

.homeSocialTrends .trendsCols .card-header .imageClass img {
	width: 25px;
	height: 25px;
}

.homeSocialTrends .trendsCols .card-header .header-3dots {
	/*width: 50%;*/
	text-align: right;
}

.homeSocialTrends .trendsCols .card-header, .homeSocialTrends .trendsCols .card-body,
	.homeSocialTrends .trendsCols .card-footer {
	padding: 6px;
}

.homeSocialTrends .trendsCols .card-body {
	max-height: 229px;
	overflow-y: auto;
}

.homeSocialTrends .trendsCols .card-footer, .homeSocialTrends .trendsCols .card-header
	{
	background-color: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.homeSocialTrends .trendsCols .card-footer {
	justify-content: space-between;
	border-top: 1px solid #ddd;
	font-size: 14px;
}

.homeSocialTrends .trendsCols .card-header img, .homeSocialTrends .trendsCols .card-footer img
	{
	width: 20px;
}

.homeSocialTrends .trendsCols .card-header .threedotsImg,
	.homeSocialTrends .trendsCols .card-footer .threedotsImg {
	width: 16px;
}

.homeSocialTrends .trendsCols .topTrendsTwitter {
	padding: 10px;
	background-color: #1DA1F2;
	color: #fff;
	margin-bottom: 1px;
	font-size: 16px;
	position: relative;
}

.homeSocialTrends .trendsCols .topTrendsYoutube {
	padding: 10px;
	background-color: #FF0000;
	color: #fff;
	margin-bottom: 1px;
	font-size: 16px;
	position: relative;
}

.homeSocialTrends .trendsCols .topTrendsInstagram {
	padding: 10px;
	background-image: linear-gradient(186deg, #bc2a8d, #fbad50);
	color: #fff;
	margin-bottom: 1px;
	font-size: 16px;
	position: relative;
}

.homeSocialTrends .trendsCols .topTrendsFacebook {
	padding: 10px;
	background-color: #4267B2;
	color: #fff;
	margin-bottom: 1px;
	font-size: 16px;
	position: relative;
}

.homeSocialTrends .trendsCols .topTrendsNewsChannel, .topTrendsNewsPaper,
	.topTrendsLiveUpdates, .topTrendsSurvey {
	padding: 10px;
	background-color: grey;
	color: #fff;
	margin-bottom: 1px;
	font-size: 16px;
	position: relative;
}

.trendsCols .listofTrendsOuter {
	width: 100%;
}

.trendsCols .listofTrendsOuter ul {
	padding-left: 0;
	margin-bottom: inherit;
}

.trendsCols .listofTrendsOuter ul li a {
	text-decoration: none;
	color: #333;
	font-size: 12px;
	font-weight: 600;
}

.trendsCols .listofTrendsOuter ul li a:hover {
	text-decoration: underline;
	color: #007bff;
}

.trendsCols .listofTrendsOuter ul li {
	padding: 4px;
	border-bottom: 1px solid #ddd;
	list-style: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.trendsCols .listofTrendsOuter ul li:last-child {
	border-bottom: inherit;
}

.trendsCols .listofTrendsOuter .postedBy {
	margin-bottom: 2px;
	color: rgb(95, 93, 93);
	position: relative;
}

.trendsCols .listofTrendsOuter .postedBy .postedName {
	font-size: 13px;
}

.trendsCols .listofTrendsOuter .postedBy .postedDate {
	position: absolute;
	right: 0;
	top: 50%;
}
/*Social medias cards css ends by SANK on 15-07-2022*/

/*HomePageFilters css starts by Rajasekhar on 19/07/2022*/
.homeSocialTrends {
	position: relative;
}

.homePageFilters {
	margin-bottom: 3px;
	/*background-color: #00acee;*/
	box-shadow: rgb(99 99 99/ 20%) 0px 2px 8px 0px;
}

.homeSocialTrends .trendsCols {
	padding-left: 3px;
	padding-right: 3px;
}

.isHomePageFilters, .intelliSenseHomePageOptions {
	border-radius: 8px;
}

.filterLabels {
	font-weight: 600;
	color: #00186a;
	font-size: 12px;
	margin-right: 5px;
}

.intelliSenseHomePageOptions .dashBoardType select {
	height: 25px;
	padding: 4px;
	border-radius: 2px;
	font-size: 13px;
	cursor: pointer;
}

.isHomePageFilters .isDistrictName select {
	height: 28px;
	padding: 4px;
	border-radius: 2px;
	font-size: 13px;
	cursor: pointer;
}

.isHomePageFilters .isDistrictName {
	width: 100%;
}

.isDistrictName .jqx-fill-state-normal-energyblue, .isDistrictName .jqx-widget-header-energyblue
	{
	width: 99% !important;
	background-color: #fff;
}

#listBoxpartyListListData {
	width: 99% !important;
}
/*HomePageFilters css ends by Rajasekhar on 19/07/2022*/
/*social media showcards css  20-07-2022*/
.homeSocialTrends .trendsCols .topTrendsYoutube .youtubeLastUpdated {
	position: absolute;
	right: 4px;
	top: 50%;
	font-weight: bold;
}

.homeSocialTrends .trendsCols .topTrendsTwitter .twitterLastUpdated,
	.facebookLastUpdated, .instagramLastUpdated {
	position: absolute;
	right: 4px;
	top: 50%;
	font-weight: bold;
}

.homeSocialTrends .trendsCols .topTrendsTwitter .instagramLastUpdated {
	position: absolute;
	right: 4px;
	top: 50%;
	font-weight: bold;
}

.homeSocialTrends .trendsCols .topTrendsTwitter .newsPaperLastUpdated {
	position: absolute;
	right: 4px;
	top: 50%;
	font-weight: bold;
}

.homeSocialTrends .trendsCols .topTrendsTwitter .newsChannelLastUpdated
	{
	position: absolute;
	right: 4px;
	top: 50%;
	font-weight: bold;
}

.homeSocialTrends .trendsCols .topTrendsTwitter .latestUpdatesLastUpdated
	{
	position: absolute;
	right: 4px;
	top: 50%;
	font-weight: bold;
}

.homeSocialTrends .trendsCols .topTrendsTwitter .surveyLastUpdated {
	position: absolute;
	right: 4px;
	top: 50%;
	font-weight: bold;
}

.homeSocialTrends .trendsCols .topTrendsTwitter .facebookLastUpdated,
	.homeSocialTrends .trendsCols .topTrendsTwitter .instagramLastUpdated,
	.newsPaperLastUpdated, .newsChannelLastUpdated, .surveyLastUpdated,
	.latestUpdatesLastUpdated {
	position: absolute;
	right: 4px;
	top: 50%;
	font-weight: bold;
}

.isShowSelValueT {
	/*padding-bottom: 5px;*/
	border-bottom: 1px solid #ddd;
}
/*social media showcards css 20-07-2022*/
/*Home page cards calendar css starts here by Rajasekhar on 21-07-2022*/
.trendsCols  .calendarFlex {
	margin-bottom: 2px;
	display: flex;
	align-items: center;
}

.trendsCols .form-group {
	margin-bottom: 1rem;
	flex-basis: 50%;
	flex-grow: 1;
	gap: 17px;
	margin-right: 4px;
	margin-bottom: 5px;
}

.trendsCols .calendarFlex .form-group label {
	margin-top: inherit;
	position: inherit;
	top: inherit;
	font-weight: 600;
	font-size: 12px;
	margin-bottom: 2px;
}

/*Home page cards calendar css ends here by Rajasekhar on 21-07-2022*/
.surveyDataTitle {
	padding-bottom: 3px;
	border-bottom: 1px solid #f1f1f1;
}

.surveyDataTitle p {
	margin-bottom: inherit;
}

.surveyDataTitle .postedName {
	font-size: 14px;
	font-weight: bold;
}

.surveyDataTitle .postedName select {
	width: 80%;
	font-size: 12px;
	padding: 4px;
}

.surveyDataTitle .postedBy {
	position: relative;
	padding-top: 2px;
}

.surveyDataTitle .postedDate {
	position: absolute;
	right: 0;
	top: 50%;
}

/* survey changes 29-07-2022 */
.surveyAnalyticChartsDataClass {
	margin-left: -5px;
	margin-right: -5px;
}

.surveyAnalyticChartsDataClass .homeChartWrapDiv {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}

.surveyAnalyticChartsDataClass .homeChartWrapDiv .plot-container .modebar-container
	{
	top: -2px !important;
	right: -2px !important;
}

.surveyAnalyticChartsDataClass .homeChartWrapDiv .js-plotly-plot .modebar.vertical
	{
	display: inherit;
	max-height: inherit !important;
	height: 100%;
	/* overflow-y: auto; */
	background: #f1f1f1 !important;
}

.surveyAnalyticChartsDataClass .homeChartWrapDiv .plot-container .modebar-group
	{
	display: block;
	float: none;
	padding-left: 0px;
	padding-bottom: 8px;
}

.surveyAnalyticChartsDataClass .modebar-group {
	padding-bottom: 0 !important;
	background-color: inherit !important;
}

.surveyAnalyticChartsDataClass .js-plotly-plot .plotly .modebar.vertical .modebar-group .modebar-btn
	{
	display: block;
	text-align: center;
}

.surveyAnalyticChartsDataClass .js-plotly-plot .plotly .modebar-btn {
	padding: 8px 4px !important;
	height: 30px !important;
	cursor: pointer;
	line-height: normal;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}

/* survey changes 29-07-2022 */

/*menu tool tip css starts by SAN.K*/
.tooltip-inner {
	background-color: #00186a !important;
	color: #fff !important;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tooltip.bs-tooltip-right .arrow:before {
	border-right-color: #00186a !important;
	border-width: 8px;
}
/*menu tool tip css ends by SAN.K*/
/* New Css for the Home page Filters Starts on 12-09-2022*/
#intelliSenseSelectBoxHideShow {
	padding-left: 1px;
	padding-right: 1px;
}

.homePageFilters, .intelliSenseFilterMultiDropdowns {
	margin-right: -1px !important;
	margin-left: -1px !important;
}

.dashboardselectioncolDiv, .isHomePageFilters, #isMainPageDropdownBoxes
	{
	padding-left: 1px !important;
	padding-right: 1px !important;
}

/* New Css for the Home page Filters Ends on 12-09-2022*/
.fa-linkedin:before, .fa-facebook:before, .fa-instagram:before,
	.fa-twitter:before, .fa-youtube-play:before {
	color: #00186a;
}

.modal-dialog {
	margin: 30px auto !important;
}

#top_arrow {
	position: fixed;
	top: 8%;
	z-index: 99999;
	right: 0.5%;
}

#bottom_arrow {
	position: fixed;
	bottom: 8%;
	z-index: 99999;
	right: 0.5%;
}

/*homeIntro*/
.page-body .hintImage {
		background-image: linear-gradient(160deg, #0093E9 0%, #0021ad 100%);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3px;
    width: 42px;
    position: fixed;
    left: 0px;
    bottom: 18%;
    z-index: 99999;
    font: normal normal 10px Arial;
    transition: all .25s ease;
    display: flex;
    align-items: center;
    border: 2px solid #0093E9;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}
.page-body .hintImage img{
	transition-duration: 0.5s;
}
.page-body .hintImage img:hover{
	animation: rotate 1s linear;
}


.hintImage .textHint {
	color: #fff !important;
	text-align: center;
	/*   line-height: 43px!important; */
	/*   vertical-align: top!important; */
	cursor: pointer;
	display:none;
}

.page-body .hintImage:hover {
	    right: 0%;
    transform: scale(1);
    /* width: 14%; */
    transition: width 1s;
    width: 11%;
    
}
 @keyframes rotate{
        0%{
            transform: rotate(0deg);
        }
        50%{
            transform: rotate(180deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }

.hintImage:hover .textHint{
	display:block;
}

/*homeIntro*/

/* Setting Pannel Css  starts here 07-12-2022*/
.settingPannel {
	width: 0;
	position: fixed;
	z-index: 1;
	/* 	height: 100vh; */
	top: 50px;
	right: 6px;
	overflow-x: hidden;
	background-color: #fff;
	transition: 0.5s;
	border-radius: 4px 4px 4px 4px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-left: 2px solid #00a1de;
}

.settingPannel .settingPannelInnerWrapper {
	padding: 8px;
	padding-top: 0;
}

.settingPannel .pannelTitle {
	display: flex;
	align-items: center;
/* 	justify-content: space-between; */
	background-color: #00a1de;
	height: 26px;
	padding: 8px;
}


.settingPannel  .pannelTitle .spanTitle {
	font-size: 18px;
	color: #fff;
}

.settingPannel  .pannelTitle .spanCloseIcon {
	font-size: 30px;
	cursor: pointer;
	color: #fff; 
}

.settingPannel .closebtn {
	text-align: right;
}

.settingPannel .listofSettingDiv ul {
	margin-bottom: inherit;
}

.settingPannel .listofSettingDiv ul li {
	padding: 6px 0;
	border-bottom: 1px solid #ddd;
}

.settingPannel .listofSettingDiv ul li:last-child {
	border-bottom: none;
}
.settingPannelPopPannel{
	height: 100vh;
}

/* Setting pannel css Ends here 07-12-2022*/




/*samiuddin css hint*/
.customTooltip .introjs-tooltip-title {
	color: #ffff !important;
    margin-left: -21px !important;
    width: 115%;
    margin-top: -10px;
}

.customTooltip .introjs-tooltip-header {
/* 	background: #2667A9;  */
    border-radius: 2px;
    width: 101%;
    height: 48%;

}

.customTooltip introjs-skipbutton {
	top: -4px !important;
	right: -4px !important;
	font-weight: 500 !important;
}

.customTooltip .introjs-tooltiptext {
/* 	font-size: inherit; */
/* 	padding: 34px; */
	border-top: 2px solid #000;
    margin-top: 7px;
    margin-left: -3px;
    box-shadow: 2px -6px 14px -8px rgb(0 0 0);
    border-radius: 4px;
    width: 102%;
    background: #195190FF;
    color: white;
    height: 51%;;
    text-align: left;
}

.customTooltip .introjs-nextbutton {
	border: 2px solid #fff !important;
    color: white !important;
    text-shadow: none !important;
    text-shadow: none !important;
    position: absolute !important;
    top: 84% !important;
    left: 76% !important;
    background: inherit !important;
}

.customTooltip .introjs-prevbutton {
	border: 2px solid #fff !important;
    color: #fff !important;
    text-shadow: none !important;
    position: absolute !important;
    left: 46% !important;
    top: 84% !important;
    background: inherit;
}

 .customTooltip .introjs-bullets {
 
 display:none !important;
 }

.customTooltip .introjs-tooltiptext .homeText{
	color:#ffff !important;
}
.customTooltip .introjs-tooltip-title .imageText{
	color:#ffff !important;
	position: absolute !important;
    right: 0 !important;
    top: 60% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
}
 .customTooltip .introjs-tooltip-title .imageTextBottom{
   color: #195190FF !important;
    position: absolute !important;
    right: 0 !important;
    top: 54% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
 
 }
 .customTooltip .introjs-button:hover{
  background-color:inherit !important;
 }


.customTooltip .introjs-tooltipbuttons {
	border-top: none !important;
/* 	display: none !important; */
}

/* .customTooltip .introjs-tooltip-header { */
/* 	display: none !important; */
/* } */

/* .customTooltip .introjs-tooltipbuttons{ */
/* 	display: none !important; */
/* } */
.customTooltip {
	line-height: 17px !important;
    width: 320px !important;
    background: #fff !important;
    border-radius: 6px !important;
    padding: 3px !important;
    text-align: center !important;
    /* color: #000; */
    height: 370px !important;
}

 .customTooltip .introjs-skipbutton{
 
    top: -6% !important;
    right: -11px !important;
    color:#000 !important;
 
 }
  .customTooltip .introjs-tooltip-title .calenderText{
   color: #195190FF !important;
    position: absolute !important;
    right: 13px !important;
    top: 70% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
 
 }
 
 .customTooltip .introjs-tooltip-title .mainCardsText{
   color: #195190FF !important;
    position: absolute !important;
    right: 13px !important;
    top: 66% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
 
 }
 .customTooltip .introjs-tooltip-title .helpIconText{
   color: #195190FF !important;
    position: absolute !important;
    right: 6px !important;
    top: 71% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
 
 }
  .customTooltip .introjs-tooltip-title .profileIconText{
    color: #195190FF !important;
    position: absolute !important;
    right: 6px !important;
    top: 70% !important;
    left: 0 !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important
 
}
.customTooltip .introjs-tooltip-title .settingIconText{
	color: #195190FF !important;
    position: absolute !important;
    right: 16% !important;
    top: 65% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
}
.customTooltip .introjs-tooltip-title .leftThreeDots{
	color: #195190FF !important;
    position: absolute !important;
    right: 0 !important;
    top: 61% !important;
    left: 0 !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
}
.languageLeftSide{
    
    color: #195190FF !important;
    position: absolute !important;
    right: 0 !important;
    top: 65% !important;
    left: 0 !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
 
}
.customTooltip .introjs-tooltip-title .toggleIconsDA{
     color: #195190FF !important;
    position: absolute !important;
    right: 0 !important;
    top: 65% !important;
    left: 0 !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;  
  
}
/*This is for css is for Home intro ends */
/* samiuddin hint css*/


/*Setting pannel css starts here by Rajasekhar on 09-12-2022*/
.settingPannel .listofSettingDiv ul li a {
	display: flex;
    align-items: center;
} 

.settingPannel .listofSettingDiv ul li a .mobileTitle {
margin-left: 15px;
font-size: 13px; 
}
/*Setting pannel css ends here by Rajasekhar on 19-12-2022*/


/*Setting pannel css starts here by Rajasekhar on 16-12-2022*/

.settingPannel .pannelTitle .spanTitle {
margin-left: 8px;
    position: relative;
}

.settingPannel .pannelTitle .spanCloseIcon {
float: right;
    position: absolute;
    right: 0;
}
/*Setting pannel css ends here by Rajasekhar on 16-12-2022*/

.fluidWidth{
	margin-left: inherit !important;  
}
.bubble, .bubble.reply {
    width:80% !important;
    max-width: 100% !important;
}
.bubble.reply.say .bubble-content .bubble-button ,  .bubble-content{
    width: 100% !important;
}
.bubble.reply.say{
    display:flex;
    justify-content: right;
    width: 100%;
}
.row.chatBotHeaderTop .leftBotIcon > span p{
    margin-bottom: 5px;
    font-weight: 600;
}

.row.chatBotHeaderTop .leftBotIcon > p{
    line-height: 0.8rem;
    margin-top: 2px;
    font-weight: 600;
}
.chatBoxLargeSpaced{
   bottom: 40px !important;
        min-width: 450px !important;
    min-height: 550px !important;
}
.chatbotShrinked{
	bottom: 70px !important;
    min-width: 300px !important;
    min-height: 350px !important;
}
.chatbotShrinked .bubble-wrap, .chatbotShrinked .input-wrap{
    display: none;
}
.chatbotShrinked{
    min-height: auto !important;
    max-width: 100px !important;
    min-width: auto !important;
}

.chatbotShrinked .leftBotIcon > span:nth-child(2), .chatbotShrinked .leftBotIcon > p{
   display: none;
}

