/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2021, 12:03:06 PM
    Author     : Devint01
*/
.slide-item {
    height: 450px;
    overflow: hidden;
    /* margin-top: 40px; */
}

.slide-item img {
    max-width: 100%;
    margin: 0 auto;
}

.slide-item .screenshot {
    max-width: 100%;
    margin: inherit;
}

.slide-item ul {
    list-style: disc;
}

/* Slider arrows */
.slick-arrow {
    z-index: 9;
}

.slick-prev {
    right: 50px;
    top: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.slick-next {
    right: 0;
    position: absolute;
    width: 30px;
    top: 0;
    height: 30px;
    cursor: pointer;
}

.slick-dots {
    position: absolute;
    top: 8px;
    left: 35%;
}

.slick-dots li {
    display: inline;
    margin-right: 8px;
    background: #40875e;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #40875e;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.slick-dots li.slick-active {
    display: inline;
    margin-right: 8px;
    background: #a8a240;
    padding: 2px 6px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    border: 1px solid #a8a240;
    border-radius: 4px;
}

/* END: Slider arrows */

.scm-content-mainwrap {
    height: 450px;
}

.scm-content-innerwrap {
    height: 100%;
    overflow-y: auto;
}

