<div th:fragment="include-div" class="include-div">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}" > 

<link rel="stylesheet" th:href="@{/css/PiLogCloud.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/etl.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/header.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\sidebar.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/dxptheme.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/jquery.flowchart.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/invMngment.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/slick.css}" type="text/css" /> 
<link rel="stylesheet" th:href="@{/css/jquery.timepicker.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\bootstrap.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\feather.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\themify-icons.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\input.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\reply.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\says.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\setup.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\typing.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\genieAnimationCss\canvas.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\genieAnimationCss\genie.css}" type="text/css" /> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<link rel="stylesheet" th:href="@{/css\theme\etlDark.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\theme\headerDark.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\theme\jqxDark.base.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\theme\jqxDark.energyblue.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\theme\PiLogCloudDark.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\theme\sidebarDark.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\theme\dxpAnalyticsDark.css}" type="text/css" />


<script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>-->
<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script> 
<!-- <script th:src="@{/js/loader.js}"></script> -->
<script th:src="@{/js/logout.js}"></script>

<script th:src="@{/js/aes.js}"></script>
<script th:src="@{/js/jquery.clearsearch-instance-dropdown.js}"></script>
<script th:src="@{/js/jquery.scannerdetection.js}"></script>
<script th:src="@{/js/jquery.easing.min.js}"></script>
<script th:src="@{/js/jquery.timepicker.js}"></script>
<script th:src="@{/js/jquery-cron-quartz.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/waves.min.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/modernizr.js}"></script>
<script th:src="@{/js/VisionDDW.js}"></script>

<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/loginOperations.js}"></script>
<script th:src="@{/js/cloudAnalytics.js}"></script>
<script th:src="@{/js/paymentGateway.js}"></script>
<script th:src="@{/js/additional-methods.min.js}"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/jquery-steps.js}"></script>
<script th:src="@{/js/invenMngmnt.js}"></script>
<script th:src="@{/js/slick.js}"></script>
<script th:src="@{/js/dxptheme.js}"></script>
<script th:src="@{/js/genieAnimationJs/canvas.js}"></script>
<script th:src="@{/js/genieAnimationJs/genie.js}"></script>
<script th:src="@{/js/genieAnimationJs/html2canvas.js}"></script>
<script th:src="@{/js/genieAnimationJs/jquery.genie.js}"></script> 
<script type="text/javascript" th:src="@{/js/jquery.ba-throttle-debounce.min.js}"></script>
<script th:src="@{/js/chosen.jquery.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>-->

<script th:src="@{/js/Bubbles.js}"></script>
<script th:src="@{/js/mainSearch.js}"></script> 
<script th:src="@{/js/dataAnalytics.js}"></script>
<!--<script src="https://checkout.razorpay.com/v1/checkout.js"></script>-->
<link rel="stylesheet" th:href="@{/css\dxpAnalytics.css}" type="text/css" />
<!--<script th:src="@{/js/dxpDataAnalytics.js}"></script>-->
<script th:src="@{/js/jquery.dragtable.js}"></script>
<script th:src="@{/js/nimicPOC.js}"></script>

<link rel="stylesheet" th:href="@{/jqwidgets/styles/jqx.base.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/jqwidgets/styles/jqx.bootstrap.css}" type="text/css" />  
<link rel="stylesheet" th:href="@{/jqwidgets/styles/jqx.energyblue.css}" type="text/css" />       
<link rel="stylesheet" th:href="@{/jqwidgets/styles/jqx.ui-redmond.css}" type="text/css" />       
<link rel="stylesheet" th:href="@{/jqwidgets/styles/jqx.metro.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/jqwidgets/styles/jqx.fresh.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/jqwidgets/styles/jqx.darkblue.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\calenderMain.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\vendorOnbarding.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css\font-awesome.min.css}" type="text/css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui-visuallizeResize.css}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

<script th:src="@{/js/calenderMain.js}"></script>
<script th:src="@{/jqwidgets/jqx-all.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxtabs.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxresponse.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxnotification.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxbuttons.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxcheckbox.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxscrollbar.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxmenu.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxgrid.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxgrid.selection.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxgrid.sort.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxgrid.columnsresize.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxgrid.columnsreorder.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxgrid.edit.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxlistbox.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxdropdownlist.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxgrid.pager.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxgrid.filter.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxprogressbar.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxinput.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxcalendar.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxdatetimeinput.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxdata.export.js}"></script> 
<script type="text/javascript" th:src="@{/jqwidgets/jqxgrid.export.js}"></script> 
<script type="text/javascript" th:src="@{/jqwidgets/jqxgrid.grouping.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxgrid.aggregates.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxpanel.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxtree.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxtree.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxpopover.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxtooltip.js}"></script>
<script type="text/javascript" th:src="@{/jqwidgets/jqxnotification.js}"></script>
<script th:src="@{/js/etl/etlDXP.js}"></script>
<script th:src="@{/js/etl/etlComponents.js}"></script>
      <!--<script th:src="@{/js/etl/visionETL.js}"></script>-->
<script th:src="@{/js/etl/etlConnections.js}"></script>
<script th:src="@{/js/etl/dataModeller.js}"></script>
<!--<script th:src="@{/js/etl/etlComponents.js}"></script>-->
<script th:src="@{/js/etl/Filesaver.js}"></script>
<script th:src="@{/js/etl/jszip.js}"></script>
<script th:src="@{/js/etl/xlsx.min.js}"></script>
<script th:src="@{/js/etl/xlsx.full.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.flowchart.js}"></script> 
<script type="text/javascript" th:src="@{/js/jquery.ajaxfileupload.js}"></script>
<script th:src="@{/js/dxpDataAnalytics.js}"></script>
<script th:src="@{/js/DxpGenericTree.js}"></script>
<script th:src="@{/js/dxpWorkflow.js}"></script>
<script th:src="@{/js/DxpUnification.js}"></script>
<!--<script th:src="@{/js/decompositionTree.js}"></script>-->
<script th:src="@{/js/jquery.dragtable.js}"></script>
<script th:src="@{/js/colResizable-1.6.js}"></script> 
<script th:src="@{/js/jquery.tablednd.js}"></script>
<script th:src="@{/js/jsPDF/html.js}"></script>
<script th:src="@{/js/jsPDF/split_text_to_size.js}"></script>
<script th:src="@{/js/jsPDF/standard_fonts_metrics.js}"></script>
<script th:src="@{/js/jspdf.js}"></script>
<script th:src="@{/js/from_html.js}"></script>
<script th:src="@{/js/jspdf.min.js}"></script>
<script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>



<script>
    google.charts.load('current', {packages: ['corechart', 'annotationchart',
            'calendar', 'gantt', 'gauge', 'map', 'orgchart', 'sankey', 'timeline', 'treemap',
            'wordtree', 'bar', 'line', 'scatter']});

</script>
</div>